html {
  font-family: 'Segoe UI';
  text-align: center;
  background-color: #f4f7f6;
  color: #1d1d1d;
}

h1 {
  color: #003566;
  font-size: 35px;
  margin-top: 40px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.05);
}

#products:empty {
  display: none;
}

#products {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  justify-content: center;
  padding: 20px;
  margin: 20px auto;
  margin-top: 60px;
  border: 3px solid #003566;
  border-radius: 30px;
  box-shadow: 0 10px 30px rgba(0, 53, 102, 0.1);
  background-color: #ffffff;
}

.card {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  padding: 20px;
  border-radius: 15px;
  width: 250px;
  margin: 15px;
  border: 1px solid rgba(0, 53, 102, 0.1);
  background-color: #ffffff;
  text-align: right;
  direction: rtl;
  transition:
    transform 0.3s ease,
    scale 0.3s ease,
    box-shadow 0.5s ease;
  background-color: #f8fbff;
  border-right: 5px solid #00b4d8;
}

.card:hover {
  transform: translateY(-5px);
  scale: 1.1;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.card-title {
  font-weight: bold;
  font-size: 20px;
  color: #003566;
  margin-bottom: 10px;
  display: block;
  text-align: center;
  direction: ltr;
}

.folder-icon {
  font-size: 28px;
  filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.2));
}

.upload-btn {
  background-color: #ffc300;
  color: #001d3d;
  padding: 10px;
  border-radius: 50px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  font-weight: bold;
  font-size: 18px;
  transition: 0.3s;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.upload-btn:hover {
  background-color: #ffd60a;
}

.upload-btn:active {
  background-color: #003566;
  color: white;
  transform: scale(0.95);
}

.icon-folder {
  background-color: white;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 20px;
}

.upload-btn:hover .icon-folder {
  transform: rotate(15deg);
  transition: 0.3s;
}

.btn-text {
  padding: 10px;
}

.balance {
  color: #007bff;
  font-weight: bold;
  font-size: 30px;
  display: inline-flex;
  margin-right: 20px;
  border-bottom: 3px solid #007bff;
  line-height: 0.1;
  gap: 15px;
}

.balance:hover {
  color: #5dabff;
  border-color: #5dabff;
}
